<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AbdraCommander/src/com/abdracmd/AbdraCmd.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.abdracmd.AbdraCmd"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AbdraCommander"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dcom.abdracmd.launched-with=Eclipse&#13;&#10;-splash:lib/splash.jpg"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:AbdraCommander/app-folder}"/>
</launchConfiguration>
